/* https://mosefatullah.github.io/rokostore/
   v1.0 | 20230723
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600&display=swap");

* {
 box-sizing: border-box;
 font-family: "Merriweather Sans", sans-serif;
}

body {
 margin: 0;
 padding: 0;
 font-size: 16px;
 font-weight: lighter;
 word-spacing: 1.5px;
 line-height: 1.5;
 color: #333;
 background-color: #e7ebec;
}

/* @ Public Style */
a {
 text-decoration: none;
 color: inherit;
}
button,
.__home_a a {
 font-weight: lighter !important;
}
.__cart img {
 object-fit: cover;
}
nav,
.__home_a {
 a {
  border-radius: 0.2rem;
 }
 a:hover {
  outline: 1px solid rgba(255, 255, 255, 0.8);
 }
}

/* @ Navigation Bar */
nav {
 input,
 button {
  font-size: 0.8rem !important;
  height: 35px;
 }
 .top .nav-links {
  position: absolute;
  right: 1vw;
 }
 .nav-item {
  a {
   display: flex;
   align-items: center;
   padding: 7px 10px;
   font-size: 0.78rem;
   &.active {
    background: rgba(231, 231, 231, 0.1);
   }
   i {
    margin-right: 6px;
   }
  }
 }
 .menu-item {
  a {
   display: flex;
   align-items: center;
   padding: 7px;
   margin: 15px 0;
   font-size: 0.8rem;
   &.active {
    background-color: #e7e7e7;
   }
   &:hover {
    outline-color: rgba(51, 51, 51, 0.5);
   }
   i {
    margin-right: 6px;
   }
  }
  a:first-child {
   margin-top: 0;
  }
 }
}
@media (max-width: 575px) {
 .nav-item {
  a {
   padding: 0;
   font-size: 0.6rem;
  }
 }
}
@media screen and (max-width: 767px) {
 nav .right {
  position: absolute;
  right: 15px;
 }
}
@media screen and (max-width: 950px) {
 nav .nav-links {
  a {
   font-size: 0.6rem !important;
  }
  gap: 7px !important;
 }
}
/* @ Home Container */
.__home {
 .__home_a {
  width: 300px;
  height: 100vh;
  li {
   margin: 10px 0;
   a {
    padding: 5px;
   }
  }
 }
 .__home_b {
  padding-top: 2rem;
  padding-bottom: 2rem;
 }
 .card {
  border: none;
 }
 .carousel-control-prev-icon,
 .carousel-control-next-icon {
  background-color: rgba(51, 51, 51, 0.5);
  width: 1rem;
  height: 1.5rem;
  border-radius: 0.2rem;
 }
 .__popular_products {
  margin-top: 3rem;
  border-radius: 0.3rem;
 }
}
/* @ Product Container */

/* @ Cart Container */
.__cart,
.__shipping {
 img {
  margin-bottom: 35px;
 }
 .___body {
  width: 100%;
  margin: 0 auto;
  .box {
   background-color: #fff;
   border: 1px solid #e2e2e2;
   padding: 20px 25px;
   i {
    margin-right: 6px;
   }
  }
  .top,
  .boxCartInfo {
   border-radius: 0.25rem;
  }
  .top .selectItem span {
   font-weight: bold;
  }
  .middle {
   margin-top: 15px;
   padding: 0;
   ul {
    margin: 0;
   }
   li:active {
    background-color: rgb(255, 249, 238);
   }
   li {
    user-select: none;
    display: flex;
    padding: 20px 15px;
    border-bottom: 1px solid #d1d1d1;
    .left {
     display: flex;
     align-items: center;
     img {
      width: 100px;
      object-fit: contain;
      background-color: #fff;
      margin: 0;
      margin-left: 10px;
     }
    }
    .right {
     padding: 0 20px;
     padding-right: 0px;
     width: 100%;
     display: flex;
     .toRight {
      min-width: 100px;
      margin-left: auto;
      text-align: right;
      .cartPrice {
       padding: 10px 0;
       del {
        color: rgb(223, 26, 26);
        margin-right: 6px;
        font-size: 0.64rem;
       }
      }
      .cartDelete {
       padding: 0px 5px;
      }
      .cartSize {
       width: fit-content;
       margin-left: auto;
       button {
        padding: 0px 5px !important;
       }
      }
     }
     .toLeft {
      margin-right: 15px;
      .cartAuthor {
       margin: 0 !important;
      }
      .cartTitle {
       font-size: 1rem;
       margin: 5px 0 !important;
      }
      .cartCategory {
       font-size: 0.75rem;
       color: #868686;
      }
     }
    }
   }
   li:first-child {
    margin-top: 0;
   }
   li:last-child {
    border-bottom: 0;
   }
  }
  .boxCartInfo {
   padding: 30px;
   height: fit-content;
   li {
    padding: 10px 0;
   }
  }
 }
}
@media screen and (max-width: 1200px) {
 .___body {
  .top {
   font-size: 0.7rem !important;
  }
  .middle {
   li {
    font-size: 0.67rem !important;
    .left {
     img {
      width: 50px !important;
     }
    }
    .toRight {
     min-width: 80px !important;
    }
    h5 {
     font-size: 0.8rem !important;
    }
   }
  }
 }
}
@media screen and (max-width: 700px) {
 .__card .container-sm,
 .__shipping .container-sm {
  padding: 5px !important;
 }
 .___body {
  font-size: 0.7rem !important;
  .bottom button {
   font-size: 0.6rem !important;
  }
  .top {
   font-size: 0.6rem !important;
  }
  .middle {
   li {
    font-size: 0.6rem !important;
    .left {
     img {
      width: 40px !important;
     }
    }
    h5 {
     font-size: 0.7rem !important;
    }
   }
  }
 }
}

/* @ Notification */
.__notification {
 .top {
  width: 100%;
  height: 70px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  h4 {
   margin: 10px;
  }
  a:nth-child(1) {
   margin: 0 10px !important;
   font-size: 0.5rem;
  }
  a:last-child {
   margin: 0 17px 0 auto;
  }
 }
 .bottom > .list-group {
  border-radius: 0 !important;
 }
}

/* @ Shipping */
.__shipping {
 hr {
  border: 0;
  border-bottom: 1px dashed #7a7a7a;
 }
 .___body {
  .box-1 {
   li.active {
      background-color: rgba(204, 201, 2, 0.13);
      border-color: transparent;
      color: inherit;
   }
   li {
    border-right: 0;
    border-left: 0;
    padding: 10px 20px;
    .form-check {
     align-self: center;
    }
    .address {
     padding: 15px 30px;
     p {
      margin: 0;
      font-size: 0.75rem;
     }
    }
    .action {
     color: #e4a11b !important;
     margin-left: auto;
     align-items: center;
     font-size: 0.7rem;
     align-self: center;
    }
   }
  }
  .box-2 {
   .card {
    background-color: #f8f9fa;
    user-select: none;
    img {
     height: 20px;
     object-fit: contain;
     object-position: left;
     margin: 0 10px;
    }
    label {
     font-size: 0.7rem !important;
    }
   }
   p,
   label {
    font-size: 0.75rem !important;
   }
  }
  .box-3 {
   height: fit-content;
   position: sticky;
   top: 0;
   p {
    margin: 0;
   }
   .top h6,
   .card {
    background-color: #f8f9fa;
   }
   .card {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    button {
     border-radius: 0;
    }
    p {
     margin-bottom: 15px;
    }
    input {
     font-size: 0.8rem !important;
     &::placeholder {
      color: #bebebe;
     }
    }
   }
  }
 }
}


/* @ Order Confirm */
.__orderconf {
   .card {
      p {
         margin: 5px 0;
      }
      i {
         margin-right: 15px;
         color: cornflowerblue;
         background-color: #e9e9e9;
         width: 23px;
         height: 23px;
         border-radius: 100rem;
         text-align: center;
      }
   }
}