/* https://mosefatullah.github.io/rokostore/
   v1.0 | 20230723
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: lighter;
  word-spacing: 1.5px;
  line-height: 1.5;
  color: #333;
  background-color: #e7ebec;
}

/* @ Public Style */
a {
  text-decoration: none;
  color: inherit;
}

button,
.__home_a a {
  font-weight: lighter !important;
}

.__cart img {
  object-fit: cover;
}

nav a,
.__home_a a {
  border-radius: 0.2rem;
}
nav a:hover,
.__home_a a:hover {
  outline: 1px solid rgba(255, 255, 255, 0.8);
}

/* @ Navigation Bar */
nav input,
nav button {
  font-size: 0.8rem !important;
  height: 35px;
}
nav .top .nav-links {
  position: absolute;
  right: 1vw;
}
nav .nav-item a {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  font-size: 0.78rem;
}
nav .nav-item a.active {
  background: rgba(231, 231, 231, 0.1);
}
nav .nav-item a i {
  margin-right: 6px;
}
nav .menu-item a {
  display: flex;
  align-items: center;
  padding: 7px;
  margin: 15px 0;
  font-size: 0.8rem;
}
nav .menu-item a.active {
  background-color: #e7e7e7;
}
nav .menu-item a:hover {
  outline-color: rgba(51, 51, 51, 0.5);
}
nav .menu-item a i {
  margin-right: 6px;
}
nav .menu-item a:first-child {
  margin-top: 0;
}

@media (max-width: 575px) {
  .nav-item a {
    padding: 0;
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 767px) {
  nav .right {
    position: absolute;
    right: 15px;
  }
}
@media screen and (max-width: 950px) {
  nav .nav-links {
    gap: 7px !important;
  }
  nav .nav-links a {
    font-size: 0.6rem !important;
  }
}
/* @ Home Container */
.__home .__home_a {
  width: 300px;
  height: 100vh;
}
.__home .__home_a li {
  margin: 10px 0;
}
.__home .__home_a li a {
  padding: 5px;
}
.__home .__home_b {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.__home .card {
  border: none;
}
.__home .carousel-control-prev-icon,
.__home .carousel-control-next-icon {
  background-color: rgba(51, 51, 51, 0.5);
  width: 1rem;
  height: 1.5rem;
  border-radius: 0.2rem;
}
.__home .__popular_products {
  margin-top: 3rem;
  border-radius: 0.3rem;
}

/* @ Product Container */
/* @ Cart Container */
.__cart img,
.__shipping img {
  margin-bottom: 35px;
}
.__cart .___body,
.__shipping .___body {
  width: 100%;
  margin: 0 auto;
}
.__cart .___body .box,
.__shipping .___body .box {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  padding: 20px 25px;
}
.__cart .___body .box i,
.__shipping .___body .box i {
  margin-right: 6px;
}
.__cart .___body .top,
.__cart .___body .boxCartInfo,
.__shipping .___body .top,
.__shipping .___body .boxCartInfo {
  border-radius: 0.25rem;
}
.__cart .___body .top .selectItem span,
.__shipping .___body .top .selectItem span {
  font-weight: bold;
}
.__cart .___body .middle,
.__shipping .___body .middle {
  margin-top: 15px;
  padding: 0;
}
.__cart .___body .middle ul,
.__shipping .___body .middle ul {
  margin: 0;
}
.__cart .___body .middle li:active,
.__shipping .___body .middle li:active {
  background-color: rgb(255, 249, 238);
}
.__cart .___body .middle li,
.__shipping .___body .middle li {
  user-select: none;
  display: flex;
  padding: 20px 15px;
  border-bottom: 1px solid #d1d1d1;
}
.__cart .___body .middle li .left,
.__shipping .___body .middle li .left {
  display: flex;
  align-items: center;
}
.__cart .___body .middle li .left img,
.__shipping .___body .middle li .left img {
  width: 100px;
  object-fit: contain;
  background-color: #fff;
  margin: 0;
  margin-left: 10px;
}
.__cart .___body .middle li .right,
.__shipping .___body .middle li .right {
  padding: 0 20px;
  padding-right: 0px;
  width: 100%;
  display: flex;
}
.__cart .___body .middle li .right .toRight,
.__shipping .___body .middle li .right .toRight {
  min-width: 100px;
  margin-left: auto;
  text-align: right;
}
.__cart .___body .middle li .right .toRight .cartPrice,
.__shipping .___body .middle li .right .toRight .cartPrice {
  padding: 10px 0;
}
.__cart .___body .middle li .right .toRight .cartPrice del,
.__shipping .___body .middle li .right .toRight .cartPrice del {
  color: rgb(223, 26, 26);
  margin-right: 6px;
  font-size: 0.64rem;
}
.__cart .___body .middle li .right .toRight .cartDelete,
.__shipping .___body .middle li .right .toRight .cartDelete {
  padding: 0px 5px;
}
.__cart .___body .middle li .right .toRight .cartSize,
.__shipping .___body .middle li .right .toRight .cartSize {
  width: fit-content;
  margin-left: auto;
}
.__cart .___body .middle li .right .toRight .cartSize button,
.__shipping .___body .middle li .right .toRight .cartSize button {
  padding: 0px 5px !important;
}
.__cart .___body .middle li .right .toLeft,
.__shipping .___body .middle li .right .toLeft {
  margin-right: 15px;
}
.__cart .___body .middle li .right .toLeft .cartAuthor,
.__shipping .___body .middle li .right .toLeft .cartAuthor {
  margin: 0 !important;
}
.__cart .___body .middle li .right .toLeft .cartTitle,
.__shipping .___body .middle li .right .toLeft .cartTitle {
  font-size: 1rem;
  margin: 5px 0 !important;
}
.__cart .___body .middle li .right .toLeft .cartCategory,
.__shipping .___body .middle li .right .toLeft .cartCategory {
  font-size: 0.75rem;
  color: #868686;
}
.__cart .___body .middle li:first-child,
.__shipping .___body .middle li:first-child {
  margin-top: 0;
}
.__cart .___body .middle li:last-child,
.__shipping .___body .middle li:last-child {
  border-bottom: 0;
}
.__cart .___body .boxCartInfo,
.__shipping .___body .boxCartInfo {
  padding: 30px;
  height: fit-content;
}
.__cart .___body .boxCartInfo li,
.__shipping .___body .boxCartInfo li {
  padding: 10px 0;
}

@media screen and (max-width: 1200px) {
  .___body .top {
    font-size: 0.7rem !important;
  }
  .___body .middle li {
    font-size: 0.67rem !important;
  }
  .___body .middle li .left img {
    width: 50px !important;
  }
  .___body .middle li .toRight {
    min-width: 80px !important;
  }
  .___body .middle li h5 {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 700px) {
  .__card .container-sm,
  .__shipping .container-sm {
    padding: 5px !important;
  }
  .___body {
    font-size: 0.7rem !important;
  }
  .___body .bottom button {
    font-size: 0.6rem !important;
  }
  .___body .top {
    font-size: 0.6rem !important;
  }
  .___body .middle li {
    font-size: 0.6rem !important;
  }
  .___body .middle li .left img {
    width: 40px !important;
  }
  .___body .middle li h5 {
    font-size: 0.7rem !important;
  }
}
/* @ Notification */
.__notification .top {
  width: 100%;
  height: 70px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
}
.__notification .top h4 {
  margin: 10px;
}
.__notification .top a:nth-child(1) {
  margin: 0 10px !important;
  font-size: 0.5rem;
}
.__notification .top a:last-child {
  margin: 0 17px 0 auto;
}
.__notification .bottom > .list-group {
  border-radius: 0 !important;
}

/* @ Shipping */
.__shipping hr {
  border: 0;
  border-bottom: 1px dashed #7a7a7a;
}
.__shipping .___body .box-1 li.active {
  background-color: rgba(204, 201, 2, 0.13);
  border-color: transparent;
  color: inherit;
}
.__shipping .___body .box-1 li {
  border-right: 0;
  border-left: 0;
  padding: 10px 20px;
}
.__shipping .___body .box-1 li .form-check {
  align-self: center;
}
.__shipping .___body .box-1 li .address {
  padding: 15px 30px;
}
.__shipping .___body .box-1 li .address p {
  margin: 0;
  font-size: 0.75rem;
}
.__shipping .___body .box-1 li .action {
  color: #e4a11b !important;
  margin-left: auto;
  align-items: center;
  font-size: 0.7rem;
  align-self: center;
}
.__shipping .___body .box-2 .card {
  background-color: #f8f9fa;
  user-select: none;
}
.__shipping .___body .box-2 .card img {
  height: 20px;
  object-fit: contain;
  object-position: left;
  margin: 0 10px;
}
.__shipping .___body .box-2 .card label {
  font-size: 0.7rem !important;
}
.__shipping .___body .box-2 p,
.__shipping .___body .box-2 label {
  font-size: 0.75rem !important;
}
.__shipping .___body .box-3 {
  height: fit-content;
  position: sticky;
  top: 0;
}
.__shipping .___body .box-3 p {
  margin: 0;
}
.__shipping .___body .box-3 .top h6,
.__shipping .___body .box-3 .card {
  background-color: #f8f9fa;
}
.__shipping .___body .box-3 .card {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.__shipping .___body .box-3 .card button {
  border-radius: 0;
}
.__shipping .___body .box-3 .card p {
  margin-bottom: 15px;
}
.__shipping .___body .box-3 .card input {
  font-size: 0.8rem !important;
}
.__shipping .___body .box-3 .card input::placeholder {
  color: #bebebe;
}

/* @ Order Confirm */
.__orderconf .card p {
  margin: 5px 0;
}
.__orderconf .card i {
  margin-right: 15px;
  color: cornflowerblue;
  background-color: #e9e9e9;
  width: 23px;
  height: 23px;
  border-radius: 100rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */